################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TodoManager/bin/Debug/netcoreapp3.1/Tasks
/TodoManager/.vs/TodoManager/v16/TestStore/0
